<%- include('components/head'); %>

<%- include('components/header'); %>

<body style="background-color: #e6e6e6;">
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 150px; margin-bottom: 150px;">
            <div class="col-lg-5 col-md-7 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-primary text-center mt-3 mb-4">Login</h2>

                        <form action="/usuarios/login" method="post">

                            <div class="form-row align-items-center">
                                <label class="sr-only" for="inlineFormInputGroup">Usuário</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input required type="email" class="form-control" id="" placeholder="Usuário">
                                </div>
                                
                                <label class="sr-only" for="inlineFormInputGroup">Senha</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input required type="password" class="form-control" id="" placeholder="Senha">
                                </div>
                                
                                <div class="input-group mb-3">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Logar</button>
                                </div>

                                <div class="input-group mb-2">
                                    <a href="usuarios/novo">Criar usuário</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include('components/footer'); %>