<%- include('components/head'); %>

<%- include('components/header'); %>

    <div class="container">
      <h1>Erro ao logar.</h1>
      <p>Usuário ou senha inválidos.</p>
      <a href="/usuarios/login">Tentar novamente</a>
    </div>

<%- include('components/footer'); %>
